body {
    background-color: #252830;
}

.wrapper {
    font-family:'arial', sans-serif;
}
input.icon {
    padding:5px;
}
input.icon::-webkit-input-placeholder {
    font-family:'FontAwesome';
}

.profile {
    .centered {
        text-align: center;
    }
}



// Styling for the profile section in display-contacts.html
.profile, .contacts {
    margin-bottom: 1em;
    .name {
        border-bottom: 1px solid grey;
    }
    background-color: #ccc;
    // border-radius: 10px;
    // box-shadow: 5px 5px 5px orange;
    // border: 1px solid #945BFF;
    ol {
        // border: 2px solid black;
        list-style-type: none;
        padding-left: 0;
    }
    li {
        font-size: 1.25em;
    }
    li:hover {
        background-color: #1ca8dd;
    }
}

// styling for the contacts being displayed
.display-contacts {
    // .pencil:hover {
    //     background-color: pink;
    //     display: block;
    // }
}







