body {
  background-color: #252830; }

.wrapper {
  font-family: 'arial', sans-serif; }

input.icon {
  padding: 5px; }

input.icon::-webkit-input-placeholder {
  font-family: 'FontAwesome'; }

.profile .centered {
  text-align: center; }

.contacts .row {
  margin-left: 0;
  margin-right: 0; }
  .contacts .row div {
    margin-bottom: .25em; }

.profile, .contacts {
  margin-bottom: 1em;
  background-color: #ccc;
  border-radius: 10px;
  border: 5px solid orange; }
  .profile .name, .contacts .name {
    border-bottom: 1px solid grey; }
  .profile ol, .contacts ol {
    list-style-type: none;
    padding-left: 0; }
  .profile li, .contacts li {
    font-size: 1.25em; }
  .profile li:hover, .contacts li:hover {
    background-color: #1ca8dd; }
